

ALTER procedure [dbo].[usp_TransactionNotification_Service_Handler]
	@object_type nvarchar(20), 			-- SBO Object Type
	@transaction_type nchar(1),			-- [A]dd, [U]pdate, [D]elete, [C]ancel, C[L]ose
	@num_of_cols_in_key int,
	@list_of_key_cols_tab_del nvarchar(255),
	@list_of_cols_val_tab_del nvarchar(255),
    @error int output,
    @error_message nvarchar(200) output
AS
BEGIN

	IF @object_type = '14' and @transaction_type  IN ('A','U','D','C','L')
	BEGIN
		------ For Delete installment Row when the DownPayment is copy to AR Credit Memo 
		DELETE FROM T4
		FROM ORIN T1
			JOIN RIN1 T2 ON T1.DocEntry=T2.DocEntry
			JOIN ODPI T3 ON T3.DocEntry=T2.BaseEntry AND T3.ObjType=T2.BaseType
			JOIN [KNN_WebLoan].dbo.InstallmentRow T4 ON T4.ARNo=T3.DocNum
		WHERE T1.DocEntry=@list_of_cols_val_tab_del AND T1.DocTotal=T3.DocTotal
	END
	--AR Credit Memo 

	IF @object_type = '14' and @transaction_type  IN ('A','U','D','C','L')
	BEGIN
		IF Exists (
			SELECT 1 From ORIN T1
					JOIN RIN1 T1A ON T1.DocEntry=T1A.DocEntry
					JOIN ORIN T1B ON T1A.BaseEntry=T1B.DocEntry AND T1A.BaseType=T1B.ObjType
					JOIN [KNN_WebLoan].dbo.SO T2 ON T1B.DocNum=T2.DocEntry
			Where T1.DocEntry=@list_of_cols_val_tab_del 
				AND T1.CANCELED='C'
				AND ISNULL(T2.Frozenfor,'')='Y'
		)
		BEGIN
			Set @error=@object_type
			set @error_message=N'.Not allow to cancel :'+
				ISNULL((
					SELECT T2.LastError From ORIN T1
							JOIN RIN1 T1A ON T1.DocEntry=T1A.DocEntry
							JOIN ORIN T1B ON T1A.BaseEntry=T1B.DocEntry AND T1A.BaseType=T1B.ObjType
							JOIN [KNN_WebLoan].dbo.SO T2 ON T1B.DocNum=T2.DocEntry
					Where T1.DocEntry=@list_of_cols_val_tab_del 
						AND T1.CANCELED='C'
						AND ISNULL(T2.Frozenfor,'')='Y'
				),'')
			goto hasError
		END

		IF Exists (
			SELECT T2.LastError From ORIN T1
					JOIN RIN1 T1A ON T1.DocEntry=T1A.DocEntry
					JOIN ORIN T1B ON T1A.BaseEntry=T1B.DocEntry AND T1A.BaseType=T1B.ObjType
					JOIN [KNN_WebLoan].dbo.SO T2 ON T1B.DocNum=T2.DocEntry
			Where T1.DocEntry=@list_of_cols_val_tab_del 
				AND T2.DocEntry IN 
				(
					SELECT DISTINCT T1.BaseEntry FROM [KNN_WebLoan].dbo.InstallmentRow T1
					WHERE (T1.ARNo<>-1 OR T1.PaymentNo<>-1 OR T1.ARNoInterest<>-1 OR T1.PaymentNoInterest<>-1)
						AND T1.VisOrder<>0 AND T1.Method<>'BKN'
				)
		)
		BEGIN
			Set @error=@object_type
			set @error_message=N'.Not allow to cancel schedule already generate AR, cancel AR first'
			goto hasError
		END

		
		IF NOT EXISTS (
			SELECT 1
			FROM ORIN T1
			JOIN RIN1 T1A ON T1.DocEntry = T1A.DocEntry
			JOIN ORIN T1B ON T1A.BaseEntry = T1B.DocEntry
						  AND T1A.BaseType = T1B.ObjType
			JOIN [KNN_WebLoan].dbo.SO T2 ON T1B.DocNum = T2.DocEntry
			WHERE T1.DocEntry = @list_of_cols_val_tab_del
			  AND T1.CANCELED = 'C'
			  AND T2.DocEntry IN (
					SELECT DISTINCT IR.BaseEntry
					FROM [KNN_WebLoan].dbo.InstallmentRow IR
					WHERE 
						(
							IR.ARNo <> -1
						 OR IR.PaymentNo <> -1
						 OR IR.ARNoInterest <> -1
						 OR IR.PaymentNoInterest <> -1
						)
						AND IR.VisOrder <> 0
						AND IR.Method <> 'BKN'
			  )
		)
		BEGIN
			UPDATE T2
				SET T2.LastError = 'Document Cancel from SAP',
					T2.DocStatus = 'Cancel'
			FROM ORIN T1
			JOIN RIN1 T1A ON T1.DocEntry = T1A.DocEntry
			JOIN ORIN T1B ON T1A.BaseEntry = T1B.DocEntry
						  AND T1A.BaseType = T1B.ObjType
			JOIN [KNN_WebLoan].dbo.SO T2 ON T1B.DocNum = T2.DocEntry
			WHERE T1.DocEntry = @list_of_cols_val_tab_del
			  AND T1.CANCELED = 'C';
		END
		
		IF Exists (
			SELECT 1 From ORIN T1
				LEFT JOIN RIN1 T2 ON T1.DocEntry=T2.DocEntry
				LEFT JOIN OITM T3 ON T3.ItemCode=T2.ItemCode
			Where T1.DocEntry=@list_of_cols_val_tab_del and ISNULL(T1.U_Reason,'')='INS' 
				  AND ISNULL(T2.NoInvtryMv,'N')='N'
				  AND ISNULL(T3.InvntItem,'N')='Y'  ---- This condition is use to block only item that have apply manage inventory. for beginning balance item the set it as non invetory item
		)
		BEGIN
			Set @error=@object_type
			set @error_message=N'. With Reason INS , must choose Without Inventory Posting.'
			goto hasError
		END

		IF Exists (
			SELECT 1 From ORIN T1
				LEFT JOIN RIN1 T2 ON T1.DocEntry=T2.DocEntry
				LEFT JOIN OITM T3 ON T3.ItemCode=T2.ItemCode
			Where T1.DocEntry=@list_of_cols_val_tab_del and ISNULL(T1.U_Reason,'')='CHI' 
				  AND ISNULL(T2.NoInvtryMv,'N')='N'
				   AND ISNULL(T3.InvntItem,'N')='Y'  ---- This condition is use to block only item that have apply manage inventory. for beginning balance item the set it as non invetory item
		)
		BEGIN
			Set @error=@object_type
			set @error_message=N'. With Reason Changing Product , must choose Without Inventory Posting.'
			goto hasError
		END

		IF Exists (
			SELECT 1 From ORIN T1
				LEFT JOIN RIN1 T2 ON T1.DocEntry=T2.DocEntry
			Where T1.DocEntry=@list_of_cols_val_tab_del and ISNULL(T1.U_Reason,'')='INS' 
				  AND ISNULL(T2.AcctCode,'N')<>'11044040'
		)
		BEGIN
			Set @error=@object_type
			set @error_message=N'. With Reason INS , must choose GL Account 11044040.'
			goto hasError
		END


		IF Exists (
			SELECT 1 From ORIN T1
				LEFT JOIN RIN1 T2 ON T1.DocEntry=T2.DocEntry
			Where T1.DocEntry=@list_of_cols_val_tab_del and ISNULL(T1.U_Reason,'')='CHI' 
				  AND ISNULL(T2.AcctCode,'N')<>'11044040'
		)
		BEGIN
			Set @error=@object_type
			set @error_message=N'. With Reason Changing Product , must choose GL Account 11044040.'
			goto hasError
		END

		
		IF Exists (
			SELECT 1 From ORIN T1
				LEFT JOIN RIN1 T2 ON T1.DocEntry=T2.DocEntry
			Where T1.DocEntry=@list_of_cols_val_tab_del and ISNULL(T1.U_Reason,'')='INS' 
				  AND (ISNULL(T2.DiscPrcnt,0)<>0 or T1.DiscPrcnt<>0)
		)
		BEGIN
			Set @error=@object_type
			set @error_message=N'. With Reason INS , Discount must 0.'
			goto hasError
		END

		IF Exists (
			SELECT 1 From ORIN T1
				LEFT JOIN RIN1 T2 ON T1.DocEntry=T2.DocEntry
			Where T1.DocEntry=@list_of_cols_val_tab_del and ISNULL(T1.U_Reason,'')='CHI' 
				  AND (ISNULL(T2.DiscPrcnt,0)<>0 or T1.DiscPrcnt<>0)
		)
		BEGIN
			Set @error=@object_type
			set @error_message=N'. With Reason Changing Product , Discount must 0.'
			goto hasError
		END


		IF Exists (
			SELECT 1 From ORIN T1
				LEFT JOIN RIN21 T3 ON T3.DocEntry=T1.DocEntry
			Where T1.DocEntry=@list_of_cols_val_tab_del and ISNULL(T1.U_Reason,'')='CHI' 
				  AND T3.RefObjType=14 AND ISNULL(T3.RefDocNum,'')=''
		)
		BEGIN
			Set @error=@object_type
			set @error_message=N'. With Reason Changing Product , must link to AR Credit Memo Loan based product.'
			goto hasError
		END


		IF Exists (
			SELECT 1 FROM 
			(
				SELECT COUNT(RefDocNum)'RefDocNum' From ORIN T1
					JOIN RIN21 T3 ON T3.DocEntry=T1.DocEntry
				WHERE T1.DocEntry=@list_of_cols_val_tab_del and ISNULL(T1.U_Reason,'')='CHI' 
					  AND T3.RefObjType=14 AND ISNULL(T3.RefDocNum,'')<>''
			)T1
			WHERE T1.RefDocNum>1
		)
		BEGIN
			Set @error=@object_type
			set @error_message=N'. With Reason Changing Product , allow to link only one AR Credit Memo Loan based product.'
			goto hasError
		END


		IF Exists (
			SELECT 1 From ORIN T1
				JOIN RIN21 T3 ON T3.DocEntry=T1.DocEntry
			Where T1.DocEntry=@list_of_cols_val_tab_del and ISNULL(T1.U_Reason,'')='CHI' 
				  AND T3.RefObjType=14 AND ISNULL(T3.RefDocNum,'')<>''
				  AND T3.RefDocNum NOT IN ( SELECT DISTINCT BaseEntry FROM [KNN_WebLoan].dbo.InstallmentRow )
		)
		BEGIN
			Set @error=@object_type
			set @error_message=N'. With Reason Changing Product , must link to AR Credit Memo Loan based product that already generate loan.'
			goto hasError
		END


		IF Exists (
			SELECT 1 From ORIN T1
			Where T1.DocEntry=@list_of_cols_val_tab_del and ISNULL(T1.U_Reason,'')='INS' 
				  AND T1.CANCELED='N' AND T1.DpmAmnt<>0
		)
		BEGIN
			Set @error=@object_type
			set @error_message=N'. AR Credit Amount not allow to link with DownPayment.'
			goto hasError
		END


		
		IF Exists (
			SELECT 1
			FROM ORIN T1 
				JOIN RIN1 T2 ON T1.DocEntry=T2.DocEntry
				JOIN OINV T3 ON T3.DocEntry=T2.BaseEntry AND T3.ObjType=T2.BaseType
			WHERE T1.DocEntry=@list_of_cols_val_tab_del AND T1.PaidToDate<>T1.DocTotal and ISNULL(T1.U_Reason,'')='INS' AND @transaction_type='A'
		)
		BEGIN
			Set @error=@object_type
			set @error_message=N'. Price in row must the same open amount in AR.'
			goto hasError
		END

		IF Exists (
			SELECT 1
			FROM ORIN T1 
				JOIN RIN1 T2 ON T1.DocEntry=T2.DocEntry
			WHERE T1.DocEntry=@list_of_cols_val_tab_del AND T2.Price<>(T1.DocTotal) and ISNULL(T1.U_Reason,'')='INS' 
				AND @transaction_type='A'
		)
		BEGIN
			Set @error=@object_type
			set @error_message=N'. Not allow to proceed A/R credit memo loan with multiple quantity or item!!'
			goto hasError
		END


		UPDATE T1 SET T1.SapDocEntry=NULL, T1.LastError='This document is cancel from SAP' FROM [KNN_WebLoan].DBO.CN T1
			JOIN (
				SELECT T3.DocNum FROM RIN1 T1 
					JOIN RIN1 T2 ON T1.BaseEntry=T2.DocEntry AND T1.BaseType=T2.ObjType AND T1.BaseLine=T2.LineNum
					JOIN ORIN T3 ON T1.DocEntry=T3.DocEntry
				WHERE T1.DocEntry=@list_of_cols_val_tab_del AND T1.VisOrder=0 AND T3.CANCELED='C' 
			)T2 ON T1.SapDocEntry=T2.DocNum
		WHERE @transaction_type='A'


		------Update the 

		UPDATE T4 SET T4.ChangeReason='ChangeProduct',T4.ChangeItemRefNo=T1.DocNum 
		FROM ORIN T1
			LEFT JOIN RIN21 T2 ON T1.DocEntry=T2.DocEntry
			JOIN RIN1 T3 ON T3.DocEntry=T1.DocEntry
			JOIN [KNN_WebLoan].dbo.SO T4 ON T4.DocEntry=T2.RefDocNum
		WHERE T2.RefObjType=14 AND ISNULL(T2.RefDocNum,'')<>''
			AND T1.DocEntry=@list_of_cols_val_tab_del

		---Add Record to AR Memo 

		IF (@transaction_type IN ('U','A'))
		BEGIN


			SELECT DISTINCT T4.DocNum,T4.DocEntry,T1.DocTotal,T4.DocTotal'TotalDP'
			INTO #TEMP
			FROM ORIN T1 
				JOIN RIN1 T2 ON T1.DocEntry=T2.DocEntry
				JOIN DPI1 T3 ON T3.DocEntry=T2.BaseEntry AND T3.LineNum=T2.BaseLine AND T3.ObjType=T2.BaseType
				JOIN ODPI T4 ON T4.DocEntry=T3.DocEntry
			WHERE T1.DocEntry=@list_of_cols_val_tab_del AND T2.BaseType=203

			IF EXISTS(
			SELECT 1 FROM #TEMP T1
			WHERE T1.DocTotal=T1.TotalDP)
			BEGIN 
				DELETE FROM [KNN_WebLoan].dbo.InstallmentRow WHERE BaseEntry=(SELECT DocNum FROM #TEMP)
			END

			IF EXISTS(
			SELECT 1 FROM #TEMP T1
			WHERE T1.DocTotal<>T1.TotalDP)
			BEGIN 
				DECLARE @Amount AS NUMERIC(19,6)

				SELECT @Amount=T1.DocTotal FROM #TEMP T1

				UPDATE T1 SET T1.InstallmentAmt=T1.InstallmentAmt-ISNULL(@Amount,0) FROM [KNN_WebLoan].dbo.InstallmentRow T1
				WHERE T1.BaseEntry=(SELECT DocNum FROM #TEMP)
			END

			DROP TABLE #TEMP

			-----Header
			INSERT INTO [KNN_WebLoan].dbo.SO 
				(
					DocEntry, DocNum, DocCur, ExchangeRate, CardCode, CardName,
					ContactPerson, NumatCard, DocDate, DueDate, DocumentDate, SlpCode,
					OwnerCode, Term, Reason, Comment, SubTotal, DiscountAmt, DiscountPer,
					DownAmt, DepositAmt, DepositPer, DocTotalBef, TaxAmt, PaidAmt, BalanceDue,
					SapDocEntry, LastError, DocStatus, CreatedDate, CreatedBy, UpdatedDate, UpdatedBy,
					CancelledBy, CancelledDate, PaymentOption, Referral, ConPeriod, OcrCode, SapCancelStatus, SAPIntegrationStatus
				)
			SELECT 
				T1.DocNum, T1.DocNum, T1.DocCur, T1.DocRate, T1.CardCode, T1.CardName, T1.CntctCode, T1.NumAtCard, 
				T1.DocDate, T1.DocDueDate, T1.TaxDate, T1.SlpCode, T1.OwnerCode, T1.GroupNum, T1.U_Reason, T1.Comments, 
				T2.ARAmount AS 'SubTotal', T1.DiscSum, T1.DiscPrcnt, T1.DpmAmnt, T1.DpmAmnt, 0 AS DepositPer, 
				(T1.DocTotal - T1.DiscSum - T1.VatSum) AS DocTotalBef, T1.VatSum, T1.PaidToDate, 
				(T1.DocTotal - T1.PaidToDate) AS BalanceDue, T1.DocNum, 'Auto Generate from SAP' AS LastError, 
				T1.DocStatus, T1.CreateDate, T1.UserSign, T1.UpdateDate, T1.UserSign2, T1.UserSign2, 
				T1.CancelDate, 'BKN' AS PaymentOption, 'KNN' AS Referral, 
				T1.FinncPriod, T1.Branch, 'N' AS SapCancelStatus, 'N' AS SAPIntegrationStatus
			FROM ORIN T1 
			JOIN (
				SELECT T1.DocEntry,(T3.DocTotal+T3.DpmAmnt)'ARAmount'
				FROM RIN1 T1
					LEFT JOIN INV1 T2 ON T1.BaseEntry=T2.DocEntry AND T1.BaseType=T2.ObjType AND T1.BaseLine=T2.LineNum
					LEFT JOIN OINV T3 ON T3.DocEntry=T2.DocEntry
				WHERE T1.VisOrder=0
			) T2 ON T1.DocEntry = T2.DocEntry
			WHERE T1.U_Reason IN ('INS') AND T1.DocEntry=@list_of_cols_val_tab_del AND T1.CANCELED='N'
			AND T1.DocNum NOT IN (SELECT DocNum FROM [KNN_WebLoan].dbo.SO T1 WHERE T1.Reason<>'CHI')
			
			------Row Data
			INSERT INTO [KNN_WebLoan].dbo.SO1 
				(DocEntry, LineNum, BaseEntry, BaseLine, SlpCode, ItemCode, ItemName, Quantity, UoMEntry, UPrice, 
				 DiscountPer, DiscountAmt, AdditionalAmt, LineTotal, TaxCode, WhsCode, OcrCode, OcrCode2, OcrCode3, 
				 OcrCode4, OcrCode5, ProjectCode, LineStatus, Reason)
			SELECT 
				T1.DocNum, T2.LineNum, T3.DocNum AS BaseEntry, T2.BaseLine, T2.SlpCode, T2.ItemCode, 
				T2.Dscription AS ItemName, T2.Quantity, T2.UomEntry AS UoMEntry,T2.Price AS UPrice, T2.DiscPrcnt AS DiscountPer, 
				(T2.Quantity * T2.Price) * (T2.DiscPrcnt / 100) AS DiscountAmt, 0 AS AdditionalAmt, T2.LineTotal, T2.TaxCode, T2.WhsCode, T2.OcrCode, T2.OcrCode2, 
				T2.OcrCode3, T2.OcrCode4, T2.OcrCode5, T2.Project AS ProjectCode, T2.LineStatus, T1.U_Reason AS Reason
			FROM ORIN T1 
			LEFT JOIN RIN1 T2 ON T1.DocEntry = T2.DocEntry
			LEFT JOIN OINV T3 ON T3.ObjType=T2.BaseType AND T3.DocEntry=T2.BaseEntry
			WHERE T1.U_Reason IN ('INS') AND T1.DocEntry=@list_of_cols_val_tab_del AND T1.CANCELED='N'
			AND NOT EXISTS (
				SELECT 1 FROM [KNN_WebLoan].dbo.SO1 S 
					JOIN [KNN_WebLoan].dbo.SO T1 ON S.DocEntry=T1.DocEntry 
				WHERE S.DocEntry = T2.DocEntry 
				AND S.LineNum = T2.LineNum AND T1.Reason<>'CHI'
			)


			---Installment Booking 


			-----Header  the AR Credit Memo that have Delivery 
			INSERT INTO  [KNN_WebLoan].DBO.InstallmentRow

			SELECT T3.DocNum'BasedEntry',0'BaseLine',0'VisOrder',
				T2C.ItemCode,T1.DocTotal'Principle',0'Interest',T1.DocTotal'Monthly',T1.DocDate'PaymentDate',
				T1.DocDate 'DueDate',
				T3.DocTotal 'Remainning',
				T3.DocTotal 'RelncludeInter','C' 'RowStatus',
				0 AS 'CulInerest',T1.DocTotal'CuPayment',
				0 'FixedPayment',T1.DocNum'ARDownNo',
				ISNULL(T6.Income,-99) AS 'LastReconnum',
				'BKN' 'Method',(T5.DocTotal+T5.DpmAmnt) 'INSAmt',
				T3.DiscSum,T1.DocTotal'DepositAmt', 0 'AnnualRate',0'PeriodMonths','D' 'Status',
				'Booking',NULL 'Syn',NULL 'ErrorLog',T3.DiscSum,T3.DiscPrcnt,0 'SpecialDisAmt',0 'SpecialDisPer',0 'AdditionalAmt',0 'AdditionalPer',
				T2C.Dscription,T2C.OcrCode,T2C.OcrCode3,T2C.OcrCode4,NULL,NULL,NULL,NULL,-1,-1,0,0,NULL,NULL,NULL,NULL,0,NULL
			FROM ODPI T1 
				  JOIN DPI1 T2 ON T1.DocEntry=T2.DocEntry AND T2.VisOrder=0
				  JOIN RDR1 T2A ON T2.BaseType=T2A.ObjType AND T2.BaseEntry=T2A.DocEntry AND T2.BaseLine=T2A.LineNum 
				  JOIN DLN1 T2AA ON T2AA.BaseType=T2A.ObjType AND T2AA.BaseEntry=T2A.DocEntry AND T2AA.BaseLine=T2A.LineNum 
				  JOIN INV1 T2B ON T2B.BaseType=T2AA.ObjType AND T2B.BaseEntry=T2AA.DocEntry AND T2B.BaseLine=T2AA.LineNum 
				  JOIN RIN1 T2C ON T2C.BaseType=T2B.ObjType AND T2C.BaseEntry=T2B.DocEntry AND T2C.BaseLine=T2B.LineNum 
				  JOIN ORIN T3 ON T3.DocEntry=T2C.DocEntry 
				  JOIN OINV T5 ON T5.DocEntry=T2B.DocEntry
				LEFT JOIN 
				(
					SELECT T2.DocEntry,MAX(T1.DocNum)'Income' FROM ORCT T1
						JOIN RCT2 T2 ON T1.DocEntry=T2.DocNum
					WHERE T1.Canceled='N' AND InvType=203 --AND T1.DocNum=25100401
					GROUP BY T2.DocEntry

				)T6 ON T6.DocEntry=T1.DocEntry
			WHERE T1.U_Reason='BKN' AND T3.DocNum NOT IN 
			(
				SELECT DISTINCT BaseEntry FROM [KNN_WebLoan].DBO.InstallmentRow
			) AND T3.DocEntry=@list_of_cols_val_tab_del
			AND T3.DocNum IN (SELECT DocNum FROM [KNN_WebLoan].dbo.SO)
			AND T1.CANCELED='N'

			----Ignore Downpayment copy to ARMemo
			AND T1.DocNum NOT IN 
			(
				SELECT T3.DocNum
				FROM ORIN T1
					JOIN RIN1 T2 ON T1.DocEntry=T2.DocEntry
					JOIN ODPI T3 ON T3.DocEntry=T2.BaseEntry AND T3.ObjType=T2.BaseType
				WHERE T1.DocTotal=T3.DocTotal AND T1.U_Reason='BKN'
			)


			-----Header  the AR Credit Memo that does not have Delivery 
			INSERT INTO  [KNN_WebLoan].DBO.InstallmentRow

			SELECT T3.DocNum'BasedEntry',0'BaseLine',0'VisOrder',
				T2C.ItemCode,T1.DocTotal'Principle',0'Interest',T1.DocTotal'Monthly',T1.DocDate'PaymentDate',
				T1.DocDate 'DueDate',
				T3.DocTotal 'Remainning',
				T3.DocTotal 'RelncludeInter','C' 'RowStatus',
				0 AS 'CulInerest',T1.DocTotal'CuPayment',
				0 'FixedPayment',T1.DocNum'ARDownNo',
				ISNULL(T6.Income,-99) AS 'LastReconnum',
				'BKN' 'Method',(T5.DocTotal+T5.DpmAmnt) 'INSAmt',
				T3.DiscSum,T1.DocTotal'DepositAmt', 0 'AnnualRate',0'PeriodMonths','D' 'Status',
				'Booking',NULL 'Syn',NULL 'ErrorLog',T3.DiscSum,T3.DiscPrcnt,0 'SpecialDisAmt',0 'SpecialDisPer',0 'AdditionalAmt',0 'AdditionalPer',
				T2C.Dscription,T2C.OcrCode,T2C.OcrCode3,T2C.OcrCode4,NULL,NULL,NULL,NULL,-1,-1,0,0,NULL,NULL,NULL,NULL,0,NULL
			FROM ODPI T1 
				  JOIN DPI1 T2 ON T1.DocEntry=T2.DocEntry AND T2.VisOrder=0
				  JOIN RDR1 T2A ON T2.BaseType=T2A.ObjType AND T2.BaseEntry=T2A.DocEntry AND T2.BaseLine=T2A.LineNum 
				  JOIN INV1 T2B ON T2B.BaseType=T2A.ObjType AND T2B.BaseEntry=T2A.DocEntry AND T2B.BaseLine=T2A.LineNum 
				  JOIN RIN1 T2C ON T2C.BaseType=T2B.ObjType AND T2C.BaseEntry=T2B.DocEntry AND T2C.BaseLine=T2B.LineNum 
				  JOIN ORIN T3 ON T3.DocEntry=T2C.DocEntry 
				  JOIN OINV T5 ON T5.DocEntry=T2B.DocEntry
				LEFT JOIN 
				(
					SELECT T2.DocEntry,MAX(T1.DocNum)'Income' FROM ORCT T1
						JOIN RCT2 T2 ON T1.DocEntry=T2.DocNum
					WHERE T1.Canceled='N' AND InvType=203 --AND T1.DocNum=25100401
					GROUP BY T2.DocEntry

				)T6 ON T6.DocEntry=T1.DocEntry
			WHERE T1.U_Reason='BKN' AND T3.DocNum NOT IN 
			(
				SELECT DISTINCT BaseEntry FROM [KNN_WebLoan].DBO.InstallmentRow
			) AND T3.DocEntry=@list_of_cols_val_tab_del
			AND T3.DocNum IN (SELECT DocNum FROM [KNN_WebLoan].dbo.SO)
			AND T2C.BaseType<>203
			AND T1.CANCELED='N'
			----Ignore Downpayment copy to ARMemo
			AND T1.DocNum NOT IN 
			(
				SELECT T3.DocNum
				FROM ORIN T1
					JOIN RIN1 T2 ON T1.DocEntry=T2.DocEntry
					JOIN ODPI T3 ON T3.DocEntry=T2.BaseEntry AND T3.ObjType=T2.BaseType
				WHERE T1.DocTotal=T3.DocTotal AND T1.U_Reason='BKN'
			)


			-----Header  the AR Credit Memo that have Delivery and downpayment copy from DN 
			INSERT INTO  [KNN_WebLoan].DBO.InstallmentRow

			SELECT T3.DocNum'BasedEntry',0'BaseLine',0'VisOrder',
				T2C.ItemCode,T1.DocTotal'Principle',0'Interest',T1.DocTotal'Monthly',T1.DocDate'PaymentDate',
				T1.DocDate 'DueDate',
				T3.DocTotal 'Remainning',
				T3.DocTotal 'RelncludeInter','C' 'RowStatus',
				0 AS 'CulInerest',T1.DocTotal'CuPayment',
				0 'FixedPayment',T1.DocNum'ARDownNo',
				ISNULL(T6.Income,-99) AS 'LastReconnum',
				'BKN' 'Method',(T5.DocTotal+T5.DpmAmnt) 'INSAmt',
				T3.DiscSum,T1.DocTotal'DepositAmt', 0 'AnnualRate',0'PeriodMonths','D' 'Status',
				'Booking',NULL 'Syn',NULL 'ErrorLog',T3.DiscSum,T3.DiscPrcnt,0 'SpecialDisAmt',0 'SpecialDisPer',0 'AdditionalAmt',0 'AdditionalPer',
				T2C.Dscription,T2C.OcrCode,T2C.OcrCode3,T2C.OcrCode4,NULL,NULL,NULL,NULL,-1,-1,0,0,NULL,NULL,NULL,NULL,0,NULL
			FROM ODPI T1 
				  JOIN DPI1 T2 ON T1.DocEntry=T2.DocEntry AND T2.VisOrder=0
				  JOIN DLN1 T2A ON T2.BaseType=T2A.ObjType AND T2.BaseEntry=T2A.DocEntry AND T2.BaseLine=T2A.LineNum 
				  JOIN INV1 T2B ON T2B.BaseType=T2A.ObjType AND T2B.BaseEntry=T2A.DocEntry AND T2B.BaseLine=T2A.LineNum 
				  JOIN RIN1 T2C ON T2C.BaseType=T2B.ObjType AND T2C.BaseEntry=T2B.DocEntry AND T2C.BaseLine=T2B.LineNum 
				  JOIN ORIN T3 ON T3.DocEntry=T2C.DocEntry 
				  JOIN OINV T5 ON T5.DocEntry=T2B.DocEntry
				LEFT JOIN 
				(
					SELECT T2.DocEntry,MAX(T1.DocNum)'Income' FROM ORCT T1
						JOIN RCT2 T2 ON T1.DocEntry=T2.DocNum
					WHERE T1.Canceled='N' AND InvType=203 --AND T1.DocNum=25100401
					GROUP BY T2.DocEntry

				)T6 ON T6.DocEntry=T1.DocEntry
			WHERE T1.U_Reason='BKN' AND T3.DocNum NOT IN 
			(
				SELECT DISTINCT BaseEntry FROM [KNN_WebLoan].DBO.InstallmentRow
			) AND T3.DocEntry=@list_of_cols_val_tab_del
			AND T3.DocNum IN (SELECT DocNum FROM [KNN_WebLoan].dbo.SO)
			AND T1.CANCELED='N'
			----Ignore Downpayment copy to ARMemo
			AND T1.DocNum NOT IN 
			(
				SELECT T3.DocNum
				FROM ORIN T1
					JOIN RIN1 T2 ON T1.DocEntry=T2.DocEntry
					JOIN ODPI T3 ON T3.DocEntry=T2.BaseEntry AND T3.ObjType=T2.BaseType
				WHERE T1.DocTotal=T3.DocTotal AND T1.U_Reason='BKN'
			)


			
			DELETE FROM [KNN_WebLoan].dbo.InstallmentRow
			WHERE BaseEntry=(

			SELECT T3.DocNum
				FROM ODPI T1 
					  JOIN DPI1 T2 ON T1.DocEntry=T2.DocEntry AND T2.VisOrder=0
					  JOIN RDR1 T2A ON T2.BaseType=T2A.ObjType AND T2.BaseEntry=T2A.DocEntry AND T2.BaseLine=T2A.LineNum 
					  JOIN INV1 T2B ON T2B.BaseType=T2A.ObjType AND T2B.BaseEntry=T2A.DocEntry AND T2B.BaseLine=T2A.LineNum 
					  JOIN RIN1 T2C ON T2C.BaseType=T2B.ObjType AND T2C.BaseEntry=T2B.DocEntry AND T2C.BaseLine=T2B.LineNum 
					  JOIN ORIN T3 ON T3.DocEntry=T2C.DocEntry 
					  JOIN OINV T5 ON T5.DocEntry=T2B.DocEntry
					LEFT JOIN 
					(
						SELECT T2.DocEntry,MAX(T1.DocNum)'Income' FROM ORCT T1
							JOIN RCT2 T2 ON T1.DocEntry=T2.DocNum
						WHERE T1.Canceled='N' AND InvType=203 --AND T1.DocNum=25100401
						GROUP BY T2.DocEntry

					)T6 ON T6.DocEntry=T1.DocEntry
				WHERE T1.U_Reason='BKN' AND T3.DocNum IN 
				(
					SELECT DISTINCT BaseEntry FROM [KNN_WebLoan].DBO.InstallmentRow
				) AND T3.DocEntry=@list_of_cols_val_tab_del
				AND T3.DocNum IN (SELECT DocNum FROM [KNN_WebLoan].dbo.SO)
				AND T2C.BaseType=203
				AND T1.CANCELED='N'
			)


			------ For Delete installment Row when the DownPayment is copy to AR Credit Memo from previouse AR Memo 
			DELETE FROM T4
			FROM ORIN T1
				JOIN RIN1 T2 ON T1.DocEntry=T2.DocEntry
				JOIN ODPI T3 ON T3.DocEntry=T2.BaseEntry AND T3.ObjType=T2.BaseType
				JOIN [KNN_WebLoan].dbo.InstallmentRow T4 ON T4.ARNo=T3.DocNum
			WHERE T1.DocEntry<>@list_of_cols_val_tab_del AND T1.DocTotal=T3.DocTotal
	
		END 
		IF (@transaction_type='U')
		BEGIN
			UPDATE T1
			SET 
				T1.DocNum = T2.DocNum,
				T1.DocCur = T2.DocCur,
				T1.ExchangeRate = T2.DocRate,
				T1.CardCode = T2.CardCode,
				T1.CardName = T2.CardName,
				T1.ContactPerson = T2.CntctCode,
				T1.NumatCard = T2.NumAtCard,
				T1.DocDate = T2.DocDate,
				T1.DueDate = T2.DocDueDate,
				T1.DocumentDate = T2.TaxDate,
				T1.SlpCode = T2.SlpCode,
				T1.OwnerCode = T2.OwnerCode,
				T1.Term = T2.GroupNum,
				T1.Reason = T2.U_Reason,
				T1.Comment = T2.Comments,
				T1.SubTotal = T3.SubTotal,
				T1.DiscountAmt = T2.DiscSum,
				T1.DiscountPer = T2.DiscPrcnt,
				T1.DownAmt = T2.DpmAmnt,
				T1.DepositAmt = T2.DpmAmnt,
				T1.DepositPer = 0,
				T1.DocTotalBef = T2.DocTotal - T2.DiscSum - T2.VatSum,
				T1.TaxAmt = T2.VatSum,
				T1.PaidAmt = T2.PaidToDate,
				T1.BalanceDue = T2.DocTotal - T2.PaidToDate,
				T1.SapDocEntry = T2.DocEntry,
				T1.LastError = 'Auto Generate from SAP',
				--T1.DocStatus = T2.DocStatus,
				T1.CreatedDate = T2.CreateDate,
				T1.CreatedBy = T2.UserSign,
				T1.UpdatedDate = T2.UpdateDate,
				T1.UpdatedBy = T2.UserSign2,
				T1.CancelledBy = T2.UserSign2,
				T1.CancelledDate = T2.CancelDate,
				--T1.PaymentOption = 'BKN',
				--T1.Referral = 'Test',
				T1.ConPeriod = T2.FinncPriod,
				T1.OcrCode = T2.Branch
				--T1.SapCancelStatus = 'N',
				--T1.SAPIntegrationStatus = 'N'
			FROM [KNN_WebLoan].dbo.SO T1
			JOIN ORIN T2 ON T1.DocNum = T2.DocNum
			JOIN (
				SELECT DocEntry, SUM(LineTotal) AS SubTotal FROM RIN1 GROUP BY DocEntry
			) T3 ON T2.DocEntry = T3.DocEntry
			WHERE T2.U_Reason IN ('INS','BKN','CHI') AND T1.DocEntry=@list_of_cols_val_tab_del


			UPDATE T1
			SET 
				T1.BaseEntry = T2.ARNo,
				T1.BaseLine = T2.BaseLine,
				T1.SlpCode = T2.SlpCode,
				T1.ItemCode = T2.ItemCode,
				T1.ItemName = T2.Dscription,
				T1.Quantity = T2.Quantity,
				T1.UoMEntry = T2.UomEntry,
				T1.UPrice = T2.Price,
				T1.DiscountPer = T2.DiscPrcnt,
				T1.DiscountAmt = (T2.Quantity * T2.Price) * (T2.DiscPrcnt / 100),
				T1.AdditionalAmt = 0,
				T1.LineTotal = T2.LineTotal,
				T1.TaxCode = T2.TaxCode,
				T1.WhsCode = T2.WhsCode,
				T1.OcrCode = T2.OcrCode,
				T1.OcrCode2 = T2.OcrCode2,
				T1.OcrCode3 = T2.OcrCode3,
				T1.OcrCode4 = T2.OcrCode4,
				T1.OcrCode5 = T2.OcrCode5,
				T1.ProjectCode = T2.Project,
				T1.LineStatus = T2.LineStatus,
				T1.Reason = T2.U_Reason
			FROM [KNN_WebLoan].dbo.SO1 T1
			JOIN (
					SELECT T1.U_Reason,T1.DocNum,T2.*, T3.DocNum'ARNo'
					FROM ORIN T1
						LEFT JOIN RIN1 T2 ON T1.DocEntry=T2.DocEntry
						LEFT JOIN OINV T3 ON T3.DocEntry=T2.BaseEntry AND T3.ObjType=T2.BaseType
			) T2 ON T1.DocEntry = T2.DocEntry AND T1.LineNum = T2.LineNum
			--JOIN ORIN T3 ON T1.DocEntry = T3.DocEntry
			WHERE T2.U_Reason IN ('INS','BKN','CHI') AND T1.DocEntry=@list_of_cols_val_tab_del
		END
	End





	----Sale Order
	IF @object_type = '17' and @transaction_type  IN ('A','U','D','C','L')
	BEGIN
		
		IF Exists (
			SELECT 1 From ORDR T1
				
			Where T1.DocEntry=@list_of_cols_val_tab_del  AND ISNULL(T1.U_Reason,'')=''
		)
		BEGIN
			Set @error=@object_type
			set @error_message=N'. Please choose Reason.'
			goto hasError
		END

	End

	----AR Downpayment
	IF @object_type = '203' and @transaction_type  IN ('A','U','D','C','L')
	BEGIN
		
		IF Exists (
			SELECT 1 From ODPI T1
				JOIN DPI1 T3 ON T3.DocEntry=T1.DocEntry
				JOIN RDR1 T4 ON T4.DocEntry=T3.BaseEntry AND T4.LineNum=T3.BaseLine
				JOIN ORDR T5 ON T5.DocEntry=T4.DocEntry
			Where T1.DocEntry=@list_of_cols_val_tab_del AND T5.U_Reason='INS' AND ISNULL(T1.U_Reason,'')<>'BKN'
		)
		BEGIN
			Set @error=@object_type
			set @error_message=N'. Please choose Reason as Booking.'
			goto hasError
		END

	End

	---AR Invoice
	IF @object_type = '13' and @transaction_type  IN ('A','U','D','C','L')
	BEGIN

		
		


		IF (@transaction_type IN ('U','A'))
		BEGIN
			INSERT INTO [KNN_WebLoan].dbo.SO 
				(
					DocEntry, DocNum, DocCur, ExchangeRate, CardCode, CardName,
					ContactPerson, NumatCard, DocDate, DueDate, DocumentDate, SlpCode,
					OwnerCode, Term, Reason, Comment, SubTotal, DiscountAmt, DiscountPer,
					DownAmt, DepositAmt, DepositPer, DocTotalBef, TaxAmt, PaidAmt, BalanceDue,
					SapDocEntry, LastError, DocStatus, CreatedDate, CreatedBy, UpdatedDate, UpdatedBy,
					CancelledBy, CancelledDate, PaymentOption, Referral, ConPeriod, OcrCode, SapCancelStatus, SAPIntegrationStatus
				)
			SELECT 
				T1.DocNum, T1.DocNum, T1.DocCur, T1.DocRate, T1.CardCode, T1.CardName, T1.CntctCode, T1.NumAtCard, 
				T1.DocDate, T1.DocDueDate, T1.TaxDate, T1.SlpCode, T1.OwnerCode, T1.GroupNum, T1.U_Reason, T1.Comments, 
				T1.DocTotal AS 'SubTotal', T1.DiscSum, T1.DiscPrcnt, T1.DpmAmnt, T1.DpmAmnt, 0 AS DepositPer, 
				(T1.DocTotal - T1.DiscSum - T1.VatSum) AS DocTotalBef, T1.VatSum, T1.PaidToDate, 
				(T1.DocTotal - T1.PaidToDate) AS BalanceDue, T1.DocNum, 'Auto Generate from SAP AR Invoice' AS LastError, 
				T1.DocStatus, T1.CreateDate, T1.UserSign, T1.UpdateDate, T1.UserSign2, T1.UserSign2, 
				T1.CancelDate, 'BKN' AS PaymentOption, 'KNN' AS Referral, 
				T1.FinncPriod, T1.Branch, 'N' AS SapCancelStatus, 'N' AS SAPIntegrationStatus
			FROM OINV T1 
			WHERE T1.U_Reason IN ('CHI') AND T1.DocEntry=@list_of_cols_val_tab_del
			AND T1.DocNum NOT IN (SELECT DocNum FROM [KNN_WebLoan].dbo.SO T1 WHERE T1.Reason='CHI')
			
			------Row Data
			INSERT INTO [KNN_WebLoan].dbo.SO1 
				(DocEntry, LineNum, BaseEntry, BaseLine, SlpCode, ItemCode, ItemName, Quantity, UoMEntry, UPrice, 
				 DiscountPer, DiscountAmt, AdditionalAmt, LineTotal, TaxCode, WhsCode, OcrCode, OcrCode2, OcrCode3, 
				 OcrCode4, OcrCode5, ProjectCode, LineStatus, Reason)
			SELECT 
				T1.DocNum, T2.LineNum, T1.DocNum AS BaseEntry, T2.BaseLine, T2.SlpCode, T2.ItemCode, 
				T2.Dscription AS ItemName, T2.Quantity, T2.UomEntry AS UoMEntry,T2.Price AS UPrice, T2.DiscPrcnt AS DiscountPer, 
				(T2.Quantity * T2.Price) * (T2.DiscPrcnt / 100) AS DiscountAmt, 0 AS AdditionalAmt, T2.LineTotal, T2.TaxCode, T2.WhsCode, T2.OcrCode, T2.OcrCode2, 
				T2.OcrCode3, T2.OcrCode4, T2.OcrCode5, T2.Project AS ProjectCode, T2.LineStatus, T1.U_Reason AS Reason
			FROM OINV T1 
			LEFT JOIN INV1 T2 ON T1.DocEntry = T2.DocEntry
			WHERE T1.U_Reason IN ('CHI') AND T1.DocEntry=@list_of_cols_val_tab_del
			AND NOT EXISTS (
				SELECT 1 FROM [KNN_WebLoan].dbo.SO1 S 
					JOIN [KNN_WebLoan].dbo.SO T1 ON S.DocEntry=T1.DocEntry
				WHERE S.DocEntry = T2.DocEntry 
				AND S.LineNum = T2.LineNum AND T1.Reason='CHI'
			)
		END

		/* ===== 1. Update ARNo for Principal (non-interest) ===== */
		UPDATE T1
		SET T1.ARNo = -1,
			T1.Syn = NULL,
			T1.ErrorLog = NULL,
			T1.HouseStatus = NULL
		FROM [KNN_WebLoan].dbo.InstallmentRow T1
		JOIN (
			SELECT DISTINCT T1.U_Ref
			FROM OINV T1
			JOIN INV1 T2 
				ON T1.DocEntry = T2.DocEntry
			   AND T2.ItemCode <> 'SVC-000005'
			WHERE T1.DocEntry = @list_of_cols_val_tab_del
			  AND T1.CANCELED = 'C'
		) AS T2 
			ON T1.ID = T2.U_Ref;

		/* ===== 2. Update ARNoInterest for Interest invoices ===== */
		UPDATE T1
		SET T1.ARNoInterest = -1,
			T1.Syn = NULL,
			T1.ErrorLog = NULL,
			T1.HouseStatus = NULL
		FROM [KNN_WebLoan].dbo.InstallmentRow T1
		JOIN (
			SELECT DISTINCT T1.U_Ref
			FROM OINV T1
			JOIN INV1 T2 
				ON T1.DocEntry = T2.DocEntry
			   AND T2.ItemCode = 'SVC-000005'
			WHERE T1.DocEntry = @list_of_cols_val_tab_del
			  AND T1.CANCELED = 'C'
		) AS T2 
			ON T1.ID = T2.U_Ref;

		/* ===== 3. Reset RowStatus if both ARNo and ARNoInterest are canceled ===== */
		UPDATE T1
		SET T1.RowStatus = 'O'
		FROM [KNN_WebLoan].dbo.InstallmentRow T1
		JOIN (
			SELECT DISTINCT T1.U_Ref
			FROM OINV T1
			WHERE T1.DocEntry = @list_of_cols_val_tab_del
			  AND T1.CANCELED = 'C'
		) AS T2 
			ON T1.ID = T2.U_Ref
		WHERE T1.ARNo = -1
		  AND T1.ARNoInterest = -1;


		----- Back amount to Interest Schedule when user cancel AR with Interest Wizard 

		UPDATE T3 SET T3.ApplyInterestStatus=NULL, 
			T3.ApplyInterest=ISNULL(T3.ApplyInterest,0)-ISNULL(T2.LineTotal,0)
		FROM OINV T1 
			JOIN INV1 T2 ON T1.DocEntry=T2.DocEntry
			JOIN [KNN_WebLoan].dbo.InstallmentRow T3 ON T3.ID=T2.U_InstallRow
		WHERE T1.DocEntry=@list_of_cols_val_tab_del
			AND T1.CANCELED='C'
			AND @transaction_type='A'

	end

	----AP Credit Memo
	IF @object_type = '19' and @transaction_type  IN ('A','U','D','C','L')
	BEGIN
		UPDATE T1 SET T1.SapDocEntryAP=NULL, T1.LastErrorAP=NULL FROM [KNN_WebLoan].DBO.CN T1
			JOIN (
				SELECT T2.DocEntry FROM RPC1 T1 
					JOIN RPC1 T2 ON T1.BaseEntry=T2.DocEntry AND T1.BaseType=T2.ObjType AND T1.BaseLine=T2.LineNum
					JOIN ORPC T3 ON T1.DocEntry=T3.DocEntry
				WHERE T1.DocEntry=@list_of_cols_val_tab_del AND T1.VisOrder=0 AND T3.CANCELED='C' 
			)T2 ON T1.SapDocEntryAP=T2.DocEntry
		WHERE @transaction_type='A'
	end


	
	----Income Payment 
	IF @object_type = '24' and @transaction_type  IN ('A','U','D','C','L')
	BEGIN	
		IF @transaction_type='A'
		BEGIN
			--- Forn the principle document 
			UPDATE T4 SET T4.PaymentNo=T1.DocNum, T4.PaymentDate=T1.DocDate from ORCT T1
				JOIN RCT2 T2 ON T1.DocEntry=T2.DocNum
				JOIN OINV T3 ON T3.ObjType=T2.InvType AND T3.DocEntry=T2.DocEntry
				JOIN [KNN_WebLoan].dbo.InstallmentRow T4 ON T4.ID=T3.U_Ref
				JOIN INV1 T5 ON T5.DocEntry=T3.DocEntry AND T5.ItemCode<>'SVC-000005'
			WHERE T1.DocEntry=@list_of_cols_val_tab_del AND @transaction_type='A' AND T1.Canceled='N'

			--- Forn the Interest document 
			UPDATE T4 SET T4.PaymentNoInterest=T1.DocNum from ORCT T1
				JOIN RCT2 T2 ON T1.DocEntry=T2.DocNum
				JOIN OINV T3 ON T3.ObjType=T2.InvType AND T3.DocEntry=T2.DocEntry
			
				JOIN [KNN_WebLoan].dbo.InstallmentRow T4 ON T4.ID=T3.U_Ref
				JOIN INV1 T5 ON T5.DocEntry=T3.DocEntry AND T5.ItemCode='SVC-000005'
			WHERE T1.DocEntry=@list_of_cols_val_tab_del AND @transaction_type='A' AND T1.Canceled='N'

		END

		IF @transaction_type<>'A'
		BEGIN
		
			------Cancel Mode 

			--- Forn the principle document 
			UPDATE T4 SET T4.PaymentNo=-1 from ORCT T1
				JOIN RCT2 T2 ON T1.DocEntry=T2.DocNum
				JOIN OINV T3 ON T3.ObjType=T2.InvType AND T3.DocEntry=T2.DocEntry
				JOIN [KNN_WebLoan].dbo.InstallmentRow T4 ON T4.ID=T3.U_Ref
				JOIN INV1 T5 ON T5.DocEntry=T3.DocEntry AND T5.ItemCode<>'SVC-000005'
			WHERE T1.DocEntry=@list_of_cols_val_tab_del AND T1.Canceled='Y'

			--- Forn the Interest document 
			UPDATE T4 SET T4.PaymentNoInterest=-1 from ORCT T1
				JOIN RCT2 T2 ON T1.DocEntry=T2.DocNum
				JOIN OINV T3 ON T3.ObjType=T2.InvType AND T3.DocEntry=T2.DocEntry
			
				JOIN [KNN_WebLoan].dbo.InstallmentRow T4 ON T4.ID=T3.U_Ref
				JOIN INV1 T5 ON T5.DocEntry=T3.DocEntry AND T5.ItemCode='SVC-000005'
			WHERE T1.DocEntry=@list_of_cols_val_tab_del AND T1.Canceled='Y'
		END


		IF @transaction_type in ('A','U')
		BEGIN


			IF Exists (
				--- Forn the Interest document 
				SELECT 1 from ORCT T1
					JOIN RCT2 T2 ON T1.DocEntry=T2.DocNum
					JOIN OINV T3 ON T3.ObjType=T2.InvType AND T3.DocEntry=T2.DocEntry
			
					JOIN [KNN_WebLoan].dbo.InstallmentRow T4 ON T4.ID=T3.U_Ref
					JOIN INV1 T5 ON T5.DocEntry=T3.DocEntry AND T5.ItemCode='SVC-000005'
				WHERE T1.DocEntry=@list_of_cols_val_tab_del  AND T3.DocTotal<>T2.SumApplied
			)
			BEGIN
				Set @error=@object_type
				set @error_message=N'.The AR(Interest) from generate must pay full in incomming payment.'
				goto hasError
			END

			

		END

	end


HasError:
END









 
